<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="core/dao.DailyMapper" >
  <resultMap id="BaseResultMap" type="core/pojo.Daily" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="blood_pressure_high" property="bloodPressureHigh" jdbcType="TINYINT" />
    <result column="blood_pressure_lower" property="bloodPressureLower" jdbcType="TINYINT" />
    <result column="heart_rate" property="heartRate" jdbcType="TINYINT" />
    <result column="pressure" property="pressure" jdbcType="VARCHAR" />
    <result column="sleep" property="sleep" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="TINYINT" />
  </resultMap>
  <insert id="insert" parameterType="core/pojo.Daily" >
    insert into daily (id, create_time, update_time, 
      blood_pressure_high, blood_pressure_lower, 
      heart_rate, pressure, sleep, 
      weight)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{bloodPressureHigh,jdbcType=TINYINT}, #{bloodPressureLower,jdbcType=TINYINT}, 
      #{heartRate,jdbcType=TINYINT}, #{pressure,jdbcType=VARCHAR}, #{sleep,jdbcType=VARCHAR}, 
      #{weight,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="core/pojo.Daily" >
    insert into daily
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="bloodPressureHigh != null" >
        blood_pressure_high,
      </if>
      <if test="bloodPressureLower != null" >
        blood_pressure_lower,
      </if>
      <if test="heartRate != null" >
        heart_rate,
      </if>
      <if test="pressure != null" >
        pressure,
      </if>
      <if test="sleep != null" >
        sleep,
      </if>
      <if test="weight != null" >
        weight,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bloodPressureHigh != null" >
        #{bloodPressureHigh,jdbcType=TINYINT},
      </if>
      <if test="bloodPressureLower != null" >
        #{bloodPressureLower,jdbcType=TINYINT},
      </if>
      <if test="heartRate != null" >
        #{heartRate,jdbcType=TINYINT},
      </if>
      <if test="pressure != null" >
        #{pressure,jdbcType=VARCHAR},
      </if>
      <if test="sleep != null" >
        #{sleep,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
</mapper>